
 .daCharts{
    width:100%;
    overflow: hidden;
 }
.da_date{
    width:100%; overflow: hidden;

 }
 .s-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.btn-next.btn-disabled, .btn-prev.btn-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
}
 .btn-next, .btn-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}
.s-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.s-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.da_date .s-container {
        width: 70%;
        height: 5rem;
        margin:20px auto 0 auto;
    }
.da_date .s-slide {
        text-align: center;
        font-size: 1.4rem;
        background: #fff;
        line-height: 5rem;
    }
.da_date .btn-next{
    right: 10px;
    left: auto;
    width: 30px;
    height:30px;
    background:url(../../assets/images/icon-right.png) no-repeat ;
    background-size:contain;
    top: 0;
    bottom: 0;
    margin: auto;
}
.da_date .btn-prev{
    width: 30px;
    height:30px;
    background:url(../../assets/images/icon-left.png) no-repeat ;
    background-size:contain;
    top: 0;
    bottom: 0;
    margin: auto;
}
.da_date .btn-next.btn-disabled{
 background:url(../../assets/images/icon-right-dis.png) no-repeat ;
 background-size: contain;
} 
.da_date .btn-prev.btn-disabled{
 background:url(../../assets/images/icon-left-dis.png) no-repeat ;
 background-size: contain;
} 
.da_tips{
	text-align: center;
	font-size: 1.4rem;
	color: #999
}
.da_header{
	width: 100%
}
.da_header ul{
	width:40%;
	float: right;
	margin-right:5%
}
.da_header li{
	width: 45%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border:1px solid #dedede;
	color: #676767;
	border-radius: 5px;
	margin:10px 2.5%; 
	float: left;
	display: inline;
	text-align: center;
	height: 2rem;
	line-height:2rem;
}
.da_header li.cur{
	border:1px solid #ff99a8;
	color: #ff1d3e
}