.swiper-container{
	overflow:hidden;
}
.picsMain{
	width: 100%;
	overflow: hidden;
	background: #fff
	
}
.picsMain .lists{
	width: 96%;
	overflow: hidden;
	margin: 0 2.5%;
}
.picsMain .lists li img{
	width: 100%
}
.picsMain .style1 li{
  width: 100%;
}
.picsMain .style1 li img{
  width: 100%;
}
.picsMain .style2,.picsMain .style4{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: space-between;
}
.picsMain .style2 li,.picsMain .style4 li{
	width: 49.6%;
	margin-bottom: 3px;
}

.picsMain .style3 li,.picsMain .style6 li,.picsMain .style7 li{
	width: 32.8%;
	float: right;
}
.picsMain .style3 li:first-child,.picsMain .style6 li:first-child,.picsMain .style7 li:first-child{
	width: 66.4%;
	float: left;
}
.picsMain .style3 li:last-child{
	margin-top:0.8%;
}
.picsMain .style6 li:nth-child(n+4){
  margin-top: 0.8%;
  float: left;
  width: 32.8%;
  margin-right: 0.8%;
}
.picsMain .style7 li:nth-child(n+4){
	width: 24.325%;
	margin-top: 0.8%;
	float: left;
	margin-right: 0.8%;
}
.picsMain .style6 li:nth-child(3),.picsMain .style7 li:nth-child(3){
	margin-top:0.8%;
}
.picsMain .style6 li:last-child,.picsMain .style7 li:last-child{
	float: right;
	margin-right: 0
}

.picsMain .style5 li{
	width: 49%;
	float: left;
	margin-bottom: 4px;
	margin-right: 1%;
}
.picsMain .style5 li:nth-child(2){
  margin-right: 0;
}
.picsMain .style5 li:nth-child(n+3){
   width: 32.3%;
   margin-right: 1%
}
.picsMain .style5 li:last-child{
	margin-right: 0

}

.picsMain .style8 li{
	width: 24.5%;
	float: right;
	margin-top: 0.7%;
	
}
.picsMain .style8 li:first-child{
	width: 75%;
	float: left;
}
.picsMain .style8 li:nth-child(n+5){
	width: 24.625%;
	margin-top: 0.5%;
	float: left;
	margin-right: 0.5%;
}
.picsMain .style8 li:last-child{
	margin-top:0.6%;
	margin-right: 0;
}

.picsMain .style9 li{
	width: 33%;
	float: left;
	display: inline;
	margin-bottom: 4px;
	margin-right: 0.5%;
}
.picsMain .style9 li:nth-child(3n+3){
	margin-right: 0;
}
.picsMain .postDesc{
	width: 92%;
	margin: 10px 4%;
	line-height: 22px;
	font-size: 1.4rem;
	clear: both;

}
.picsMain .postDesc .postTitle{
	margin-top: 10px;
}
.post_btns{
	color: #898989;
	font-size: 1.2rem;

}
.post_btns img{
	margin-right: 5px;
	width: 20px;
}
.post_btns span{
	margin-right: 15px;
}
.postHead{
	width: 90%;
	margin: 10px auto;
	overflow: hidden;
	clear: both;
	    font-size: 1.2rem;
}

.postHead .user_head{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	vertical-align: middle;
}
.postHead .post_time{
	margin-left: 20px;
}
.postHead .user_name{
	margin-left: 5px;
	font-size: 1.2rem;
}

/*展示大图css*/
.bigImgcon{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  position: relative;
}
.bigImg_tit{
    padding-top: 2%;
    padding-left: 1rem;
    position: absolute;
    z-index: 9;
}
.bigImg_tit img{
  width: 45px;
}
.bigImg_footer{
  bottom: 0;
  color: #fff;
  padding-left:3rem;
  position: absolute;
  padding-bottom: 5%;
  z-index: 9;
  right:0;
}
.bigImg_footer .footer_con a{
  color: #fff;
  text-decoration: none;
}
.bigImg_footer .footer_con{
  margin-right: 4.5rem;
}
.bigImg_footer .footer_con:last-child{
  margin-right: 1.5rem;
}
.bigImg_footer .footer_con p{
  margin-top: 10px;
}
.bigImg_footer .footer_con img{
      width: 20px
}
.bigImgcon .swiper-container {
  width: 100%;
  height: 100%;
}
.bigImgcon .swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow-y:auto 
    }
/*remove loadding*/
.dropload-refresh, .dropload-update, .dropload-load, .dropload-noData{
	display:none
}