body{
			font-family: 微软雅黑, 宋体;
			}
		*{margin: 0;padding: 0;}
			.top {
			    width: 100%;
			    min-width: 1200px;
			    height: 32px;
			    background-color: #f0f0f0;
			    text-align: center;
			}
			.top div {
			    width: 1200px;
			    height: 32px;
			    line-height: 32px;
			    text-align: left;
			    margin: 0 auto;
			    position: relative;
			}
			.top div #top_user {
			    display: block;
			    width: 300px;
			    height: 32px;
			    overflow: hidden;
			    float: left;
			}
			.login{
			    float: left;
			    display: block;
			    width: 90px;
			    height: 32px;
			    padding-left: 20px;
			    padding-right: 0px;
			    text-align: center;
			    cursor: pointer;
			    font-size: 13px;
			    color: #555;
			    line-height: 32px;
			}
			.reg{
			    float: left;
			    display: block;
			    width: 80px;
			    height: 32px;
			    text-align: center;
			    overflow: hidden;
		        font-size: 13px;
			    color: #555;
			    line-height: 32px;
			}
		.header {
		    width: 100%;
		    min-width: 1200px;
		    height: 139px;
		    border-bottom: solid 2px #f75006;
		    text-align: center;
		    margin: 0 auto;
		}	
		.header div.content {
		    width: 1200px;
		    height: 139px;
		    margin: 0 auto;
		    position: relative;
		}
		.header div.logo {
		    display: block;
		    width: 173px;
		    height: 95px;
		    overflow: hidden;
		    float: left;
		}
		.header div.logo a {
		    float: left;
		    margin-left: 27px;
		    margin-top: 39px;
		    width: 146px;
		    height: 39px;
		    overflow: hidden;
		    display: inline;
		}
		a {
		    text-decoration: none;
		    color: Black;
		    border: 0px;
		    outline: none;
		  
		}
		img {
   		 border: 0px;
		}
		.header div.words {
		    display: block;
		    width: 124px;
		    height: 95px;
		    overflow: hidden;
		    float: left;
		}
		.header div.words img {
		    float: left;
		    margin: 48px auto auto 16px;
		    display: inline;
		}
		.header div.search {
		    display: block;
		    width: 661px;
		    height: 95px;
		    overflow: hidden;
		    float: left;
		}
		#keyword {
		    text-indent: 0em;
		    width: 492px;
		    height: 35px;
		    border-image-source: initial;
		    border-image-slice: initial;
		    border-image-width: initial;
		    border-image-outset: initial;
		    border-image-repeat: initial;
		    float: left;
		    margin-left: 35px;
		    margin-top: 38px;
		    display: inline;
		    color: rgb(85, 85, 85);
		    font-family: 微软雅黑, 宋体;
		    font-size: 13px;
		    outline: none;
		    border-width: 3px;
		    border-style: solid;
		    border-color: rgb(247, 80, 6);
		    padding: 0px 10px;
		}
		#search {
  
		    width: 105px;
		    height: 35px;
		    background-color: #f75006;
		    border: solid 3px #f75006;
		    border-left: none;
		    float: left;
		    margin-top: 38px;
		    display: inline;
		    color: #fff;
		    line-height: 35px;
		    font-size: 20px;
		    cursor: pointer;
		}
		.header div.motto {
		    display: block;
		    width: 147px;
		    height: 95px;
		    float: left;
		    overflow: hidden;
		}
		.header div.motto span {
		    display: block;
		    width: 70px;
		    height: 40px;
		    font-size: 13px;
		    float: left;
		    margin-left: 43px;
		    margin-top: 40px;
		    line-height: 20px;
		}
		.header div.QRcode {
		    display: block;
		    width: 75px;
		    height: 96px;
		    overflow: hidden;
		    position: absolute;
		    top: 27px;
		    right: 20px;
		}
		.header div.QRcode img {
		    float: left;
		}
		.header div.tag {
		    display: block;
		    width: 200px;
		    height: 44px;
		    background-color: #f75006;
		    position: absolute;
		    left: 0px;
		    top: 95px;
		}
		.header div.tag img.l_icon {
		    float: left;
		    margin-left: 14px;
		    margin-top: 14px;
		    display: inline;
		}
		
		.header div.tag img.r_icon {
		    float: left;
		    margin-top: 14px;
		    display: inline;
		}
		
.header .menu {
    position: absolute;
    top: 139px;
    left: 0px;
    width: 200px;
    height: 465px;
    overflow: hidden;
    background-color: #f75006;
    z-index: 2;
}


.header .dict {
    width: 200px;
    overflow: hidden;
    float: left;
    display: inline;
    cursor: pointer;
    z-index: 3;
}


.header .dict .tag {
    width: 188px;
    height: 29px;
    overflow: hidden;
    line-height: 27px;
    float: left;
    padding-left: 12px;
    display: inline;
}
.header .dict .tag a {
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-align: left;
    line-height: 30px;
    float: left;
    font-family: 微软雅黑, 宋体;
}

.header .dict .item {
    width: 188px;
    float: left;
    padding-left: 6px;
    padding-right: 6px;
    display: inline;
    border-bottom: solid 1px #e8e8e8;
}
ul li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.header .dict {
    width: 200px;
    overflow: hidden;
    float: left;
    display: inline;
    cursor: pointer;
    z-index: 3;
}
.header .dict .item {
    width: 188px;
    float: left;
    padding-left: 6px;
    padding-right: 6px;
    display: inline;
    border-bottom: solid 1px #e8e8e8;
}
.header .dict .item a {
    color: rgb(255, 255, 255);
    float: left;
    margin-left: 5px;
    display: inline;
    font-size: 13px;
    line-height: 18px;
    white-space: nowrap;
    font-family: 宋体;
}
.header div.tag span {
    display: block;
    width: 137px;
    height: 44px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 44px;
    float: left;
}
.header div.nav {
    display: block;
    position: absolute;
    width: 860px;
    height: 44px;
    top: 95px;
    left: 200px;
    overflow: hidden;
    padding-left: 20px;
}
.header div.nav a {
    line-height: 44px;
    font-size: 14px;
    color: #555;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}




 #zhongbu{min-height: 465px;width: 1200px;margin: 0 auto;}
#na .menu{
	position: relative;
    width: 200px;
    height: 465px;
    overflow: hidden;
    background-color: #f75006;
    z-index: 2;
    float:left;
}
#na .menu ul{
	width: 200px;
    overflow: hidden;
    float: left;
    display: inline;
    cursor: pointer;
    z-index: 3;
}
#na .menu .title1{
	width: 188px;
    height: 29px;
    overflow: hidden;
    line-height: 27px;
    float: left;
    padding-left: 12px;
    display: inline;
    color:#FFF;
}
#na .menu .title1 a{
	font-size: 14px;
    color: #fff;
    text-align: left;
    line-height: 30px;
    float: left;
    font-family: '微软雅黑','宋体';
}
#na .menu .list{
	width: 188px;
    float: left;
    padding-left: 6px;
    padding-right: 6px;
    display: inline;
    border-bottom: solid 1px #e8e8e8;
}
#na .menu .list a{
	color: #fff;
    float: left;
    margin-left: 5px;
    display: inline;
    font-size: 13px;
    line-height: 18px;
    white-space: nowrap;
    font-family: '宋体';
    transition: all .5s;
}
#na .menu .list a:hover{
	color:yellow;
	transition: all .5s;
	text-decoration:underline;
}
#na .fenlei{
    background-image: url(../images/category_bg.gif);
    background-position: 0px 0px;
    background-repeat: repeat-y;
    width: 998px;
    height: 461px;
    overflow: hidden;
    border: solid 2px #f75006;
    border-left: none;
    border-top: none;
    display:none;
    z-index: 998;
}
#na .fenlei dl{
	width: 787px;
    height: 38px;
    border-bottom: solid 1px #efefef;
    margin-left:20px;
}
#na .fenlei dl dt{
	display: block;
    width: 108px;
    height: 38px;
    float: left;
    line-height: 38px;
}
#na .fenlei dl dt a{
	font-weight: bold;
    display: block;
    width: 100%;
    height: 38px;
    overflow: hidden;
    text-indent: 22px;
    float: left;
    color: #ff7700;
    font-size: 14px
}
#na .fenlei dl dd{
	display: block;
    width: 665px;
    height: 38px;
    overflow: hidden;
    float: left;
}
#na .fenlei dl dd ul{
	width: 665px;
    height: 38px;
}
#na .fenlei dl dd ul li{
	font-size: 13px;
    line-height: 40px;
    float: left;
    padding-left: 10px;
    padding-right: 9px;
    color: #666666;
    background-image: url(../images1/node_r.gif);
    background-position: right 13px;
    background-repeat: no-repeat;
}
#na .fenlei dl dd ul li a{
	color: #666666;
}