* {margin: 0;padding: 0;outline: none;}
*:not(input, textarea) {-webkit-touch-callout: inherit;-webkit-user-select: auto;}
body {width: 100%;font-family: Hiragino Sans GB, Arial, Helvetica, simHei, sans-serif;font-size: 14px;color: #878787;-webkit-touch-callout: inherit;-webkit-user-select: auto;background-color: #fff;}
a {color: #878787;text-decoration: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
a:hover {text-decoration: none;}
button, input, select, textarea {font-size: 100%;margin: 0;padding: 0;outline: none;}
dt, dd {display: inline-block;}
textarea, input {resize: none;outline: none;}
textarea {resize: none;-webkit-appearance: none;}
ul, ol, li {list-style: none;}
em {font-style: normal;}
body {width: 100%;overflow: hidden;}
.hide {display: none;}

 @-webkit-keyframes bounce {
 0%, 100% {
-webkit-transform: scale(0.0)}
 50% {
-webkit-transform: scale(1.0)}}
 @keyframes bounce {
 0%, 100% {
 transform: scale(0.0);
 -webkit-transform: scale(0.0);}
50% {
 transform: scale(1.0);
 -webkit-transform: scale(1.0);}}
.logo {width: 80px;left: 15%;margin: 0 0 0 -40px;position: fixed;right: 10px;top: 10px;z-index: 9;}
.page {width: 100%;height: 100%;position: absolute;font-size: 100px;text-align: center;}
.page .wrap {height: 500px;}
.page-current {z-index: 1;}
.page-1-1{background:url(../images/1.jpg) no-repeat; background-size: cover; z-index:99}
.page-2-1{background:url(../images/2.jpg) no-repeat; background-size: cover; z-index:99}
.page-3-1{background:url(../images/3.jpg) no-repeat; background-size: cover; z-index:99}
.page-4-1{background:url(../images/4.jpg) no-repeat; background-size: cover; z-index:99}
.page-5-1{background:url(../images/5.jpg) no-repeat; background-size: cover; z-index:99}
.page-6-1{background:url(../images/6.jpg) no-repeat; background-size: cover; z-index:99}
.page-7-1{background:url(../images/7.jpg) no-repeat; background-size: cover; z-index:99}
.page-7-1 p{position:absolute; bottom:50px; left:28%; font-size:20px; color:#fff; z-index:100}
.page-7-1 p a{color:#fff;}
.page .img_6 {height: auto;width: 25px;position: absolute;left: 50%;top: 92%;margin-left: -12px;}

@media screen and (max-width: 480px) {
	.page-7-1 p{bottom:30px}
}