#wrp_02 .nav .nav_menu li a{
	color: #393333;
	text-decoration: none;
}
#wrp_02 .nav .nav_menu li a:hover{
	text-decoration: none;
    color: #D4121B;
}
.classical_d{
	display: none;
}
.nch-breadcrumb-layout {
    text-align: center;
}
.nch-breadcrumb {
    text-align: left;
    height: 20px;
    padding: 10px 0;
    margin: 0 auto;
}
.wrapper {
    width: 1200px;
    margin: auto;
}
.breadBox {
    width: 1116px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 20px;
}
.nch-breadcrumb i {
    font-size: 14px;
    color: #AAA;
    margin-right: 4px;
    height: 20px;
    width: 25px;
    
}
.nch-breadcrumb span {
    font-size: 12px;
    line-height: 20px;
    color: #999;
    letter-spacing: normal;
    word-spacing: normal;
    height: 20px;
    zoom: 1;
}

.nch-breadcrumb a {
    color: #777;
}
a:link, a:visited, a:active {
    text-decoration: none;
}
.nch-breadcrumb span.arrow {
    font-family: "宋体";
    line-height: 20px;
    color: #AAA;
    margin: 0 6px;
}
.nch-breadcrumb span {
    font-size: 12px;
    line-height: 20px;
    color: #999;
    letter-spacing: normal;
    word-spacing: normal;
    height: 20px;
    zoom: 1;
}
.public-nav-layout .category .menu li:hover {
	z-index: 2;
    background-color: #2C2C2C;
}
.nch-container {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.nch-container .left {
    width: 208px;
    float: left;
}
.nch-module-style02 {
    border-top: solid 2px #C8C8C8;
}
.nch-module .title {
    background-color: #F5F5F5;
    height: 36px;
    line-height: 36px;
}
.nch-module .title h3 {
    font: normal 14px/20px "microsoft yahei";
    color: #333;
    height: 20px;
    padding: 8px 10px;
}
.nch-module .content {
    overflow: hidden;
}
.tree {
    padding: 5px 10px;
}
.tree li {
    line-height: 20px;
    display: block;
    clear: both;
    padding: 0 0;
}
.tree li i.tree-parent {
    background: url(../img/jian.png) no-repeat 0 0;
}
.tree li i.tree-parent:hover {
    background-position: -11px 0 !important;
    cursor: pointer;
}
.tree li i {
    background: #FFF;
    vertical-align: middle;
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-right: 5px;
}
.tree li a.selected {
    font-weight: bold;
    color: #D93600;
}
.tree li a {
    text-decoration: none;
    color: #555;
    display: inline-block;
}
.tree ul {
    margin-left: 16px;
}
.tree ul li {
    padding: 2px 0 !important;
}
.tree ul.tree-group-collapsed {
    display: none;
}
.nch-module {
    border: solid 1px #D7D7D7;
    margin-bottom: 10px;
}
.nch-module .title {
    background-color: #F5F5F5;
    height: 36px;
    line-height: 36px;
}
.nch-module .title h3 {
    font: normal 14px/20px "microsoft yahei";
    color: #333;
    height: 20px;
    padding: 8px 10px;
}
.nch-module .content {
    overflow: hidden;
}
.nch-booth-list {
    padding: 9px;
    overflow: hidden;
}
.nch-booth-list li {
    display: block;
    margin-bottom: 5px;
    padding-top: 5px;
    position: relative;
    z-index: 1;
}
.nch-booth-list .goods-pic {
    width: 120px;
    height: 120px;
    padding: 0;
    margin: 0 auto;
}
.squares .goods-pic {
    background: #FFF;
    width: 220px;
    height: 220px;
    padding: 5px 5px 0 5px;
    z-index: 1;
    top: 0;
    left: 0;
}
.nch-booth-list .goods-pic a {
    line-height: 0;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 120px;
    height: 120px;
    overflow: hidden;
}
.nch-booth-list .goods-pic img {
    max-width: 120px;
    max-height: 120px;
    margin-top: expression( 120-this.height/2);
}
.nch-booth-list .goods-name {
    max-height: 36px;
    overflow: hidden;
}
.squares .goods-name {
    font-size: 12px;
    line-height: 16px;
    color: #999;
    background-color: #FFF;
    height: 32px;
    display: block;
    padding: 0 10px;
    overflow: hidden;
}
.nch-booth-list .goods-price {
    font-weight: 600;
    color: #D93600;
    text-align: center;
    padding: 0;
}
.squares .goods-price {
    font: 12px/20px Arial;
    color: #C00;
    background-color: #FFF;
    white-space: nowrap;
    display: block;
    height: 20px;
    padding: 5px 10px 10px;
    overflow: hidden;
}
.nch-booth-list .goods-pic1 {
    width: 120px;
    height: 120px;
    padding: 0;
    margin: 0 auto;
}
.nch-booth-list .goods-pic1 img {
    max-width: 120px;
    max-height: 120px;
    margin-top: expression( 120-this.height/2);
}
.nch-booth-list .goods-pic1 a {
    line-height: 0;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 120px;
    height: 120px;
    overflow: hidden;
}
a {
    color: #00549D;
    text-decoration: none;
}
.clear {
    zoom: 1;
    clear: both;
}
.clear, .clr {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
}
.nch-module {
    border: solid 1px #D7D7D7;
    margin-bottom: 10px;
}
.nch-module .title {
    background-color: #F5F5F5;
    height: 36px;
    line-height: 36px;
}
.nch-module .title h3 {
    font: normal 14px/20px "microsoft yahei";
    color: #333;
    height: 20px;
    padding: 8px 10px;
}
.nch-module .content {
    overflow: hidden;
}
.sort-bar .pagination {
    display: inline-block;
    float: right;
    margin: 7px 5px 0 0;
}
.sort-bar .pagination ul li {
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    margin: 0 2px;
}
.sort-bar .pagination li span {
    font: normal 12px/16px "microsoft yahei";
    color: #AAA;
    background-color: #FAFAFA;
    text-align: center;
    display: block;
    min-width: 16px;
    padding: 2px 6px;
    border: 1px solid #E6E6E6;
    position: relative;
    z-index: 1;
}
.nch-sortbar-array {
    font: 12px/36px "microsoft yahei";
    color: #777;
    vertical-align: top;
    display: inline-block;
    padding: 0 0 0 10px;
}
.nch-sortbar-array ul {
    font-size: 0;
    vertical-align: middle;
    display: inline-block;
    border-right: solid 1px #E6E6E6;
}
.nch-sortbar-array li.selected, .nch-sortbar-array li:hover {
    background-color: #FFF;
}
.nch-sortbar-array li {
    font: 12px/20px "microsoft yahei";
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    border-left: solid 1px #E6E6E6;
}
.nch-sortbar-array li a {
    line-height: 20px;
    color: #555;
    display: block;
    height: 20px;
    padding: 8px 13px 8px 12px;
}
.nch-sortbar-array li.selected a, .nch-sortbar-array li:hover a {
    color: #D93600;
}
.sort-bar {
    background: #F7F7F7;
    display: block;
    height: 36px;
    border: solid 1px #D7D7D7;
}
.nch-container .right {
    width: 980px;
    float: right;
}
.nch-sortbar-array li a i {
    background: url(../img/jian.png) no-repeat 0px  -11px;
    vertical-align: middle;
    display: inline-block;
    width: 7px;
    height: 8px;
    margin-left: 4px;
}
.nch-sortbar-array li:hover a i{
	 background: url(../img/jian.png) no-repeat -15px -11px;
}
.nch-sortbar-owner {
    font: 12px/36px "microsoft yahei";
    color: #777;
    vertical-align: top;
    display: inline-block;
    padding: 0 0 0 40px;
}
.nch-sortbar-owner span {
    /* vertical-align: middle; */
    display: inline-block;
}
.nch-sortbar-owner span a:hover, .nch-sortbar-owner span a.selected {
    color: #D93600;
    text-decoration: none;
}
.nch-sortbar-owner span a {
    font: 12px/20px "microsoft yahei";
    color: #777;
    display: block;
    height: 20px;
    padding: 8px 8px 8px 4px;
}
.nch-sortbar-owner span a i {
    background: url(../img/jian.png) no-repeat -44px 0;
    vertical-align: middle;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 4px;
}
.nch-sortbar-owner span a:hover i, .nch-sortbar-owner span a.selected i {
    background: url(../img/jian.png) no-repeat -56px 0;
}
.squares .list_pic {
    font-size: 0;
    display: block;
    width: 1000px;
    margin-left: -16px;
}
.squares .list_pic li {
    font-size: 12px;
    vertical-align: middle;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    width: 238px;
    height: 340px;
    margin: 12px 0 0 12px;
}
.squares .goods-content {
	float: left;
    line-height: 18px;
    background-color: #FFF;
    width: 226px;
    height: 335px;
    margin: 3px;
    border: solid 1px #F0F0F0;
    border-radius: 2px;
    position: relative;
    z-index: 11;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(153,153,153,0.1);
    transition: border-color 0.4s ease-in-out 0s;
}
squares .goods-pic {
    background: #FFF;
    width: 220px;
    height: 220px;
    padding: 5px 5px 0 5px;
    z-index: 1;
    top: 0;
    left: 0;
}
.squares .goods-pic a {
    line-height: 0;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 220px;
    height: 220px;
    overflow: hidden;
}
.squares .goods-pic img {
    max-width: 220px;
    max-height: 220px;
    margin-top: expression( 220-this.height/2);
}

.squares .goods-info {
    width: 230px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 230px;
}
.squares .goods-pic-scroll-show {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#E5FFFFFF', endColorstr='#E5FFFFFF');
    background: rgba(255,255,255,0.9);
    width: 220px;
    height: 30px;
    padding: 5px 10px;
}

.squares .goods-pic-scroll-show ul {
    font-size: 0;
    width: 180px;
    height: 30px;
}
.squares .goods-pic-scroll-show ul li {
    vertical-align: middle;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px 0 0;
}
.squares .goods-pic-scroll-show ul li a {
    line-height: 0;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 28px;
    height: 28px;
    padding: 0;
    border: solid 1px #EEE;
    overflow: hidden;
}

a:link, a:visited, a:active {
    text-decoration: none;
}
a {
    color: #00549D;
    text-decoration: none;
}

a {
    color: #333;
    text-decoration: none;
    outline: medium none;
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
Inherited from li
.squares .goods-pic-scroll-show ul li {
    vertical-align: middle;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px 0 0;
}
.squares .list_pic li {
    font-size: 12px;
    vertical-align: middle;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    width: 238px;
    height: 340px;
    margin: 12px 0 0 12px;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
Inherited from ul
.squares .goods-pic-scroll-show ul {
    font-size: 0;
    width: 180px;
    height: 30px;
}
ul, ol {
    list-style: none outside none;
}
user agent stylesheet
ul ul, ol ul {
    list-style-type: circle;
}
user agent stylesheet
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
Inherited from div.goods-content
.squares .goods-content {
    line-height: 18px;
    background-color: #FFF;
    width: 230px;
    height: 335px;
    margin: 3px;
    border: solid 1px #F0F0F0;
    border-radius: 2px;
    position: relative;
    z-index: 11;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(153,153,153,0.1);
    transition: border-color 0.4s ease-in-out 0s;
}
Inherited from li.item
.squares .list_pic li {
    font-size: 12px;
    vertical-align: middle;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    width: 238px;
    height: 340px;
    margin: 12px 0 0 12px;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
Inherited from ul.list_pic
.squares .list_pic {
    font-size: 0;
    display: block;
    width: 1000px;
    margin-left: -16px;
}
ul, ol {
    list-style: none outside none;
}
user agent stylesheet
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
Inherited from body.index-new.pace-done
body {
    font: 12px/20px Arial,Verdana,"宋体","Lucida Grande","Lucida Sans Unicode",Helvetica,sans-serif;
    color: #666;
    background: #FFF none repeat scroll 0 0;
    min-width: 1200px;
}
.squares .goods-name {
    font-size: 12px;
    line-height: 16px;
    color: #999;
    background-color: #FFF;
    height: 32px;
    display: block;
    padding: 0 10px;
    overflow: hidden;
}
a:link, a:visited, a:active {
    text-decoration: none;
}
a {
    color: #00549D;
    text-decoration: none;
}
.squares .goods-pic a {
    line-height: 0;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 220px;
    height: 220px;
    overflow: hidden;
}
a:link, a:visited, a:active {
    text-decoration: none;
}

.goods-name a:hover {
    text-decoration: underline;
    color: red;
}
.squares .goods-price {
    font: 12px/20px Arial;
    color: #C00;
    background-color: #FFF;
    white-space: nowrap;
    display: block;
    height: 20px;
    padding: 5px 10px 10px;
    overflow: hidden;
}
.squares .goods-price em.sale-price {
    font-size: 16px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 70px;
    float: left;
    overflow: hidden;
}
a:hover {
    text-decoration: underline;
    color: red;
}
.squares .goods-price em.market-price {
    color: #999;
    text-decoration: line-through;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 50px;
    margin-left: 10px;
}
.squares .goods-price .raty {
    font-size: 0;
    line-height: 0;
    float: right;
}

.squares .goods-price .raty img {
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 2px 0;
}
.squares .goods-info {
    width: 230px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 230px;
}
.squares .goods-pic-scroll-show {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#E5FFFFFF', endColorstr='#E5FFFFFF');
    background: rgba(255,255,255,0.9);
    width: 220px;
    height: 30px;
    padding: 5px 10px;
}
.squares .goods-pic-scroll-show ul {
    font-size: 0;
    width: 180px;
    height: 30px;
}
.squares .goods-pic-scroll-show ul li {
    vertical-align: middle;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px 0 0;
}
.squares .goods-pic-scroll-show ul li a {
    line-height: 0;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 28px;
    height: 28px;
    padding: 0;
    border: solid 1px #EEE;
    overflow: hidden;
}
.squares .goods-pic-scroll-show ul li img {
    max-width: 28px;
    max-height: 28px;
    margin-top: expression(28-this.height/2);
}
.squares .goods-pic-scroll-show ul li.selected a, .squares .goods-pic-scroll-show ul li a:hover {
    border-color: #D93600;
    transition: border-color 0.4s ease-in-out 0s;
}
.squares li:hover .goods-content {
	z-index: 14;
    height: 400px;
    margin: 0;
    border: solid 4px #D93600;
    border-radius: 0;
    box-shadow: 0px 4px 4px rgba(102,102,102,0.65);
}
.squares .sell-stat {
    width: 212px;
    margin: 0 auto;
    border-top: solid 1px #EEE;
    overflow: hidden;
}
.squares .sell-stat ul {
    font-size: 0;
    width: 214px;
    margin-left: -1px;
}
.squares .sell-stat ul li {
    vertical-align: middle;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: center;
    display: inline-block;
    width: 60px;
    height: 40px;
    padding: 5px;
    margin: 0;
    border-left: solid 1px #EEE;
    overflow: hidden;
}
.squares .sell-stat ul li a.status {
    color: #3388BB;
}
.squares .sell-stat ul li a {
    font: 600 12px/20px Tahoma;
    color: #B57C5B;
}
.chat_offline {
    background-position: 0 -21px;
}
.chat_online, .chat_offline {
    line-height: 999% !important;
    background: url(../img/xiaoji.jpg) no-repeat 0 0;
    vertical-align: middle;
    display: inline-block;
    width: 21px;
    height: 21px;
    margin: 0 0 0 0px;
    overflow: hidden;
}
.squares .sell-stat ul li p {
    line-height: 20px;
    color: #999;
    height: 20px;
}
.squares .store {
    line-height: 20px;
    background-color: #F5F5F5;
    text-align: center;
    display: block;
    height: 20px;
    clear: both;
    padding: 8px 0;
    border-top: solid 1px #EEE;
} 	
a:link, a:visited, a:active {
    text-decoration: none;
}
a{
    color: #00549D;
    text-decoration: none;
}
.squares .add-cart {
    display: block;
}
.squares .add-cart a {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #F5CDBF;
    text-shadow: -2px 0 0 rgba(0,0,0,0.05);
    background-color: #D93600;
    text-align: center;
    display: block;
    height: 20px;
    padding: 5px 0;
}
.squares .add-cart a i {
    margin-right: 4px;
}
.squares .add-cart a:hover {
    color: #FFF;
    text-decoration: none;
}
.mb20 {
    /* margin-bottom: 20px; */
}
.mt20 {
    margin-top: 20px !important;
}
.tc {
    text-align: center !important;
}
.pagination {
    display: inline-block;
    margin: 0 auto;
}
.pagination ul li {
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    margin: 0 0 0 -1px;
}
.pagination li span {
    font: normal 14px/20px "microsoft yahei";
    color: #AAA;
    background-color: #FAFAFA;
    text-align: center;
    display: block;
    min-width: 20px;
    padding: 8px;
    border: 1px solid #E6E6E6;
    position: relative;
    z-index: 1;
}
.pagination li a{
	 text-decoration: none;
}
.pagination li a:hover span, .pagination li a:active span {
    color: #FFF;
    text-decoration: none !important;
    background-color: #D93600;
    border-color: #CA3300;
    position: relative;
    z-index: 9;
    cursor: pointer;
}