html{color:#000}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,
textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0; vertical-align: middle;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;
	font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
input[type="button"], input[type="submit"], input[type="reset"],input[type="text"],input[type="search"],select{
-webkit-appearance: none;
outline: 0;
-webkit-tap-highlight-color:rgba(0,0,0,0)
}
textarea {-webkit-appearance:none;outline:0;} 
html,body{ margin:0; min-height:100%;}
.none{display:none}
/*channel */
html {font-size: 62.5%;}
img{vertical-align: middle}
.ml5{margin-left: 5px;}
.col_red{color: #f00}


.descInfo{width: 100%; overflow: hidden; background: #2a2a2a; height: 4rem;line-height: 4rem;margin-top: -3px;}
.descInfo .desc_part1, .descInfo .desc_part2{float: left; display: inline;}
.descInfo .desc_part1{width:23%; margin-left: 5%;  color:#fff; font-size: 1.3rem; }
.descInfo .desc_part2{width:40%; margin-right: 5%}
.descInfo .desc_part2 .head-pic{float: left;margin-right: 5px; display: inline; width:3rem; height:3rem;border-radius: 50%; 
	position: relative; overflow: hidden;}
.descInfo .desc_part2 .head-pic >img{height: 100%}
.descInfo .desc_part2 .markclown{position: absolute; width:2.5rem; height: 2rem; top:-15px; left: 0; right:0;}
.descInfo .desc_part2 .markclown img{width: 100%}
.descInfo .desc_part3{margin-right:5%;float: right; display: inline;}
.descInfo .desc_part3 img{width: 30px}
.descInfo .desc_part3 span {
    color: #fff;
    font-size: 1.5rem;
    margin-left: 5px;
}

.liveRadioTab{width: 100%; overflow: hidden; border-bottom: 1px solid #dcdcdc; background: #ffffff}
.liveRadioTab li{float: left; display: inline;width:25%; margin: 0 12.36%; font-size: 1.4rem; text-align: center; line-height: 3rem}
.liveRadioTab li.cur{border-bottom: 5px solid #ff1d3e; color: #ff1d3e}




.shortDesc{width: 92%; margin: 20px auto; padding: 0 4% 5px; text-align: center;}
.shortDesc h1{font-size:1.8rem; line-height: 2.4rem; position: relative; }
.shortDesc .icon_title{position: absolute; right:10px; top: 0; bottom: 0; margin:auto;}
.shortDesc .icon_title img{width: 10%}
.shortDesc .tit_desc{font-size: 1.2rem; color: #838383}

.rcdLiveVedio{width: 100%; overflow: hidden;}
.typeInfo{width:72%; min-height: 4rem;margin: 0 auto;border: 1px solid #ff1e3e;padding: 5px;color: #ff1e3e; position: relative;}
.icon-arrow{position:  absolute; bottom: -15px; left: 0; right: 0;margin: auto; text-align: center;}
.type-pic{width:18%;  overflow: hidden;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;-o-border-radius: 50%; }
.type-pic img{width: 100%}
.type-desc{width: 75%; overflow: hidden; position: absolute; right: 0; top:5px;}
.type-desc .type-desc-main{font-size:1.4rem; line-height:2rem; font-weight: bold;}
.type-desc p{font-size:1.1rem;margin-top:2px;  }

.vedioList-title{width: 92%;margin: 3rem auto 2rem auto;overflow: hidden;}
.vedioList-title img{width: 100%}
.vedioList{width: 92%; margin: 0 auto;overflow: hidden;}
.vedioList>li{width:100%;overflow: hidden;position: relative; margin: 20px 0;max-height: 11rem;}
.vedioList a{color:#000}
.vedioList .vedioCover{width: 49%; overflow: hidden; float: left; display: inline;}
.vedioList .vedioCover img{width: 100%}
.vedioList .vedioDesc{width: 49%; overflow: hidden; float: right; display: inline;}
.vedioList .vedioDesc h2{ font-size: 1.3rem; line-height: 1.6rem;}
.vedioList .vedioDesc .activity{width:100%;margin-top: 10px; position: absolute; bottom: 0 }
.vedioList .vedioDesc .activity li{float: left; display: inline;  margin-left: 5px}

.toAppConcern{position: absolute; right:20px; top:15px; bottom: 0; margin: auto;font-size:1.8rem}
.toAppConcern a{color: #ff1e3e; text-decoration: none;}

.bg-f3{background:#f3f3f3; min-height:100%}
.msgList{ width: 92%;padding: 0 4%;line-height: 3rem; font-size: 1.5rem;}
.msgList .fl{float: left; display: inline}
.msgList li{width:100%; overflow:hidden;margin-bottom:10px;margin-top:10px; }
.msgList .head_pic{width:15%; border-radius: 50%;-webkit-border-radius:50%;overflow: hidden; margin-right:5px;}
.msgList .head_pic img{width: 100%}
.msgList .msgArea{width:75%; border:1px solid #dcdcdc;
	background:  #f9f9f9;
	border-radius:10px; 
	position: relative;
	margin-top: 8px;
    margin-left: 2%;
	font-size: 1.2rem;
    padding-left: 5px;
}
.msgList .icon-msg{ position: absolute; left: -6px;}
.toMsgArea{width: 100%; position: fixed; bottom: 0;}
.toMsgArea img{width: 100%}
.tabCons{margin-bottom:50px; width:100%; overflow:hidden;}
#con2{background:#ffffff}
.vedio_title{width: 100%; height: 20rem;line-height: 20rem;text-align:center;position: relative;overflow:hidden;}
.vedio_title img{    opacity: 0.1;position: absolute;top: 0;left: -1px;right: 0; width: 100%;/* height: 100%; */}
.vedio_title h1{
    font-size: 30px;
    font-family: "Microsoft Yahei";
    font-weight: bold;
}
.vedio_title .count_tit{
width:80%;
margin:0 auto;
    text-shadow:2px -2px 1px #6f6e70;
    color: #ffffff;
    font-size:2.5rem;
    border-bottom: 1px solid #999;
    text-align: center;
    overflow:hidden;
    line-height:8rem;

}
.vedio_title .countdown{
    font-size: 30px;
    font-family: "Microsoft Yahei";
    color: #000;
    font-weight: bold;
    line-height: 22px;
    position: absolute;
    bottom:3rem;
    right: 0px;
    left:0px;
}
#BOX_overlay{position: absolute;z-index: 100;top: 0px;left: 0px;background-color:#ccc;filter: alpha(opacity=70);-moz-opacity: 0.7;opacity: 0.7;}
.dialog_tip{
    background: #fff;
    text-align: left;
    border: 1px solid #dedede;
    font-size: 12px;
    width: 20rem;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
}
.js-close{
    background: #fff;
    float: right;
    height: 20px;
    padding: 5px 0 0 10px;
    color: #000;
    margin-right: 10px;
    font-size:2rem;
}
.messdivCons{
    width: 100%;
    overflow: hidden;
    font-size: 1.3rem;
    color: #000;
    text-align: center;
    padding:20px 0 40px;
}
.dialogFooter{
	width: 100%; overflow: hidden;
}
.dialogFooter .btn_dialog{
	width: 50%; height: 3rem; line-height: 3rem; text-align: center; float: left; display: inline; font-size: 1.4rem;
}
.dialogFooter .btn_dialog a{text-decoration: none;color: #ff1d3e}


/*staff list */
.fl{float:left}
.live_info{width: 100%; height:5rem; overflow: hidden; position: relative;border-bottom:1px solid #dedede;margin-top:5px;padding-bottom:5px; }
.live_info .star_info{width: 40%; height: 4rem;position: absolute; left: 2%; overflow: hidden;}
.live_info .star_info ul{min-height: 1000px;}
.live_info .star_info li{width:100%; overflow:hidden; height:4rem;}
.live_info .star_info .head_pic{ width:40px; border-radius: 50%;}
.live_info .star_info .star_desc{ width:45%; overflow: hidden; margin-top:5px;margin-left:5px;font-size:1.2rem }
.live_info .star_info .star_name{color: #ff1d3e; font-size:1.2rem;}
.live_info .icon_info{position: absolute; left: 34%; width: 12%}
.icon-arraw{height: 4rem; float: left; vertical-align: middle;line-height: 4rem;}
.font-vertical{writing-mode:lr-tb ; font-size: 1rem; color: #000; float: left;width:1.5rem;}
.staffList{width: 50%; overflow: scroll; position: absolute; left: 50%;}
.staffList ul{min-width: 10000px; }
.staffList li{float: left; display: inline-block;text-align: center;    margin-right: 10px;}
.staffList li .head_pic{ width: 30px; border-radius: 50%;}
.staff_name{text-align:center}

.box {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.back{
    width: 30px; 
    height: 30px;
    line-height:30px;
    color: #ffffff;
    border-radius: 50%;  
    text-align: center;
    background: #680662;
    -webkit-text-size-adjust:none; 
    font-size:1rem;
}
.list {
    position: absolute;
    left: 0;
}

.countdown{width:70%; overflow:hidden; position:absolute; left:5px;color: #ffffff;}
.countdown span{
    color: #ffffff; 
    display: inline-block; 
    border-radius: 5px; 
    background: rgb(0,180,224); 
    color: #fff;
    font-weight: bold;
    padding:0 5px;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center; 
    margin:0 2px;
}

.video-js {width: 100%; height: 207px; }
/*media
     *<320  5s
     *>414  6plus
*/
@media screen and (max-width: 320px) {
    .type-desc p {margin-top: 0px;}
    .toAppConcern {top:10px;}
    .video-js {width: 100%; height:180px; }

}
@media screen and (min-width: 410px) {   
    .type-desc p { margin-top: 5px;}
    .toAppConcern {top:18px;}
    .video-js {width: 100%; height:230px; }
}
