<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" href="../style/main.css" type="text/css" />
		<link rel="stylesheet" href="../style/iconfont/iconfont.css" type="text/css" />
	</head>
	<body>
		<header class="clearboth"><button class="floatright"><i class="iconfont">&#xe61b;</i></button><h3>商品分类</h3></header>
		<section>
			<nav id="navbox"></nav>
			<article id="productBox">
				<div class="clearboth">
					
				</div>
			</article>
		</section>
		<footer>
			<button class="home"><i class="iconfont">&#xe61b;</i><br/><h3>首页</h3></button>
			<button class="listBtn"><i class="iconfont">&#xe61b;</i><br/><h3>商品分类</h3></button>
			<button class="car"><i class="iconfont">&#xe61b;</i><br/><h3>购物车</h3><span class="carSum"></span></button>
			<button class="usershow"><i class="iconfont">&#xe61b;</i><br/><h3>我的秀</h3></button>
			<button class="more"><i class="iconfont">&#xe61b;</i><br/><h3>更多</h3></button>
		</footer>
		<script type="text/javascript" src="../script/jquery-1.11.3.js" ></script>
		<script type="text/javascript" src="../script/iscroll.js" ></script>
		<script src="../script/common.js"></script>
		<script src="../script/dialog.js"></script>
		<script type="text/javascript" src="../script/index.js" ></script>
	</body>
</html>
