html {
  color: #000;
  background: #FFF; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button,
textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit; }

del, ins {
  text-decoration: none; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: baseline; }

sub {
  vertical-align: baseline; }

legend {
  color: #000; }

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit; }

input, button, textarea, select {
  *font-size: 100%; }

input[type="button"], input[type="submit"], input[type="reset"], input[type="text"], input[type="search"], select {
  -webkit-appearance: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent; }

textarea {
  -webkit-appearance: none;
  outline: 0; }

html, body {
  margin: 0px;
  min-height: 100%;
  font-family: "Microsoft YaHei"; }

html {
  font-size: 20px; }

img {
  vertical-align: middle; }

a {
  text-decoration: none; }

.box {
  width: 100%; }
.error_tips{
  color:#fff;
  font-size:12px;
}
  .box .banner {
    width: 100%; }
    .box .banner img {
      width: 100%; }
  .box .one {
    width: 86%;
    color: #fff;
    margin:20px auto;
    margin-bottom: 1.3rem; }
    .box .one img {
      width: 100%; }
    .box .one .lc {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .box .one .lc span {
        display: block;
        width: 30%;
        font-size: 12px;
	    text-align: center; color:#000}
	     .box .one .lc span:first-child{
	      text-align: left;
	     }
	     .box .one .lc span:last-child{
	      text-align: right;
	     }
  .box .banner_di {
    width: 100%;
    height: 100%;
   
    background-size: 100% 100%; }
  .box .form {
    width: 86%;
    margin: 0 auto;
    font-size: 0.6rem;
    color: #85205A; }
    .box .form .di {
      width: 100%;
    height: 1.4rem;
    line-height: 1.4rem;
    margin-top: 1rem;
    border: 0.12rem solid #baecff;
    -webkit-box-shadow: #baecff 0px 0px 0.2rem;
    -moz-box-shadow: #666 0px 0px 0.2rem;
    box-shadow: #baecff 0px 0px 0.2rem;
    text-indent: 0.5rem;
    background: #64d1fa;
    color: #fff;}
      .box .form .di span{margin-right:5px;}
    .box .form input {
      width: 70%;
      height: 1rem;
      background: none;
      border: none;
      color: #999; }
    .box .form .diqu {
      width: 100%; }
      .box .form .diqu select {
        width: 70%;
        background: url("../images/baoming_07.png") no-repeat right center;
        background-size: 9%;
        opacity: 0.5;
        border: none;
        color: #999;    
	float: right;
	margin-right: 10px;
	margin-top: 3px;}
        .box .form .diqu select option {
          background: rgba(62, 143, 164, 0.3);
          border: 0.12rem solid #104E5A;
          -webkit-box-shadow: #666 0px 0px 10px;
          -moz-box-shadow: #666 0px 0px 10px;
          box-shadow: #666 0px 0px 10px; }
    .box .form .jianjie {
      height: 5.2rem; }
      .box .form .jianjie #intro {
        background: none;
        border: none;
        color: #999; }
    .box .form .tel {
      width: 100%; }
      .box .form .tel input {
        width: 50%; }
    .box .form #sms_token {
      width: 30%; }
    .box .form .btn {
      width: 45%;
      margin: 1rem auto; }
      .box .form .btn input {
        text-indent: 0;
        width: 100%;
        height: 1.8rem;
        background: #eb4197;
        background-size: 100% 100%;
        border: none;
        color: #fff;
        font-weight: bold;
        font-size: 0.7rem; }

.tishi {
  position: relative; }
  .tishi #yanz {
    display: block;
    width: 25%;
    position: absolute;
    top: 0.15rem;
    right: 0.4rem;
    height: 0.9rem;
    line-height: 0.8rem;
    background: #51b4d9;
    color:#fff;
    border:2px solid #baecff;
    background-size: 100% 100%;
 
    font-weight: bold;
    font-size: 0.4rem;
    text-align: center;
    text-indent: 0; }

.picture_code {
  position: relative; }
  .picture_code #tuyz {
    display: block;
    width: 25%;
    position: absolute;
    top: -0.1rem;
    right: 0.4rem;
    height: 0.9rem; }

/*# sourceMappingURL=apply.css.map */
