.one-line {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.two-line {
    overflow:hidden; 
    text-overflow:ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2; 
}
.loadding {
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
}
.loadding .spinner {
    width: 150px;
    height: 80px;
    margin: 100px auto;
    text-align: center;
    -webkit-animation: rotateplane 3.2s infinite ease;
    animation: rotateplane 3.2s infinite ease;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    /* height: 2.9rem; */
    padding: .397rem .493rem .397rem .447rem;
    background: url(../assets/images/ditu.png) center center;
}
.crew-pic {
    position: relative;
    width: 2.13rem;
    height: 2.13rem;
}
.crew-pic img {
    width: 100%;
    height: 100%;
}
.crew-status {
    position: absolute;
    top: .2rem;
    left: -.06rem;
    display: block;
    /* width: .73rem; */
    height: .31rem;
    line-height: .31rem;
    text-align: center;
    font-family: FZLTXHK--GBK1-0;
    font-size: .22rem;
    color: #FFFFFF;
    background: #F39B09;
}
.crew-con {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    box-sizing: border-box;
    width: 4.18rem;
    height: 2.13rem;
    padding: .1rem 0;
}
.crew-title {
    font-family: FZLTHJW--GB1-0;
    font-size: .32rem;;
    color: #FFFFFF;
    margin-bottom: .12rem;
}
.crew-des {
    font-family: FZLTXHK--GBK1-0;
    font-size: .26rem;
    color: #C4C4C4;
    margin-bottom: .39rem;
}
.crew-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-family: FZLTXHK--GBK1-0;
    font-size: .26rem;
    color: #C4C4C4;
}
.crew-info b {
    font-weight: normal;
}
.site {
    display: block;
    background: url(../assets/images/site.png) left center no-repeat;
    background-size: .25rem .25rem;
    padding-left: .32rem;
}
.crew-body {
    width: 100%;
    background: #fff;
}
.crew-nav {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: .92rem;
    border-bottom: 1px solid #E5E5E5;
}
.crew-nav div {
    position: relative;
    width: 50%;
    color: #000;
    font-family: FZLTHJW--GB1-0;
    font-size: .3rem;
    letter-spacing: 0.42px;
    text-align: center;
    line-height: .92rem;
}
.crew-nav div.select {
    color: #F39B09;
}
.crew-nav div.select::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 42%;
    width: .58rem;
    height: .07rem;
    background: #F39B09;
}
.crew-tab {
    width: 100%;
}
.crew-intro, .recruit{
    width: 100%;
    padding: .27rem .33rem;
    box-sizing: border-box;
    font-family: FZLTXHK--GBK1-0;
    font-size: .3rem;
    color: #000000;
    letter-spacing: 0.42px;
    padding-bottom: 2rem;
}
.recruit {
    padding: .6rem .64rem;
}
.crew-intro div {
    line-height: .61rem;
}
.crew-intro img, .crew-intro video{
    width: 100%;
}
.recruit {
     color: #313131;
}
.recruit table{
    width: 100%;
    border: 1px solid #d3d3d3;
    text-align: center;
   
}
.recruit table tr:nth-child(1) {
    font-weight: bold;
}
.recruit table td{
    width: 1.04rem;
    height: 1rem;
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}
.sign-up {
    position: fixed;
    left: 50%;
    bottom: .53rem;
    margin-left: -3.15rem;
    width: 6.3rem;
    height: .9rem;
    text-align: center;
    line-height: .9rem;
    background: #F39B09;
    border-radius: 4px;
    font-family: FZLTHJW--GB1-0;
    font-size: .32rem;
    color: #FFFFFF;
}
.btn_download {
    display: block;
    width: 100%;
    height: 1.1rem;
}